# From reports/*
bugs.csv
bugs.full
cve.txt
cve.xsl
issues.csv
issues/*.js
pulls.csv
pulls/*.js
releases.txt
team
team.counts
team.full

# From license
adpass.txt
ropass.txt
rwpass.txt
ghpass.txt

# OpenSSL-Query
/OpenSSL-Query/Makefile
/OpenSSL-Query/Makefile.old
/OpenSSL-Query/META.yml
/OpenSSL-Query/MYMETA.*
/OpenSSL-Query/blib
/OpenSSL-Query/inc
/OpenSSL-Query/pm_to_blib

# Generic
*~
