

   OpenSSL version $release released
   =================================

   OpenSSL - The Open Source toolkit for SSL/TLS
   https://www.openssl.org/

   The OpenSSL project team is pleased to announce the release of
   version $release of our open source toolkit for SSL/TLS.

   For details of the changes, see the NEWS file at:

   https://github.openssl.org/openssl/extended-releases/blob/$release_tag/NEWS

   OpenSSL $release is available for download via HTTPS from the following
   location on our support system:

   https://github.openssl.org/openssl/extended-releases/releases/tag/$release_tag

   If you have not yet established access to our support system server,
   please contact us on osf-contact@openssl.org to arrange your set up.

   The distribution file name is:

    o $tarfile
      Size: $length
      SHA1 checksum: $sha1hash
      SHA256 checksum: $sha256hash

   The checksums were calculated using the following commands:

    openssl sha1 -r $tarfile
    openssl sha256 -r $tarfile

   Yours,

   The OpenSSL Project Team.

